*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#color-select{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form-control{
  padding: 10px;
  font-size: 16px;
  width: 400px;
  border: 1px solid white;
  transition: all .2s;
  border-radius: 5px;
  outline: none;
  transition: all .2s;
}
.form-control:focus{
  border: 1px solid rgb(168, 166, 166);
}
.header{
  font-size: 24px;
}
.card{
  border-radius: 5px;
  width: 400px;
  border: 1px solid white;
  cursor: pointer;
}
.card-parent{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#btn-save{
  padding: 15px;
  margin-top: 20px;
  background: lime;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  margin-right: 10px;
  transition: all .2s;
}
#btn-save:hover{
  background: limegreen;
}
#btn-delete{
  padding: 15px;
  margin-top: 20px;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  margin-right: 10px;
  transition: all .2s;
}
#btn-delete:hover{
  background: rgb(206, 3, 3);
}
body{
  background: rgb(210, 209, 209);
}
.ifp{
  display: flex;
  justify-content: center;
}